<div class="row m-3" *ngIf="isAdmin">
    <h1>Stores</h1>
    <!-- --------------------Start Table------------------- -->
    <div class="col table-responsive">
        <table class="table caption-top">
            <caption>List of Stores</caption>
            <thead>
                <tr>
                    <th >Name</th>
                    <th >Description</th>
                    <th >owner</th>
                    <th class="text-center" >Actions</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let store of storeList" >
                    <td>
                        {{store.name}}
                    </td>
                    <td>
                        {{store.address}}
                    </td>
                    <td>
                        {{store.owner.name}}
                    </td>
                    <td class="text-center" *ngIf="isAdmin">
                        <a (click)="updateFormStore(store)">
                            <i class="fa-solid fa-pen-to-square cursor-icons me-2"></i>
                        </a> 
                        <a (click)="deleteStore(store.id)" >
                            <i class="fa-solid fa-trash cursor-icons"></i>
                        </a>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- --------------------End Table------------------- -->
</div>
<div class="row m-3" *ngIf="isAdmin">
    <!-- --------------------Start Form Create------------------- -->
    <div class="col" *ngIf="isAdmin" >
        <form class="form-horizontal form-material" 
        id="loginform" 
        (ngSubmit)="createStore()"
        [formGroup]="storeFormCreate"
        autocomplete="off">
            <h5>Create Store</h5>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="name"/>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Adress</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="address">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    <!-- --------------------End Form Create------------------- -->

    <!-- --------------------Start Form Update------------------- -->
    <div class="col" *ngIf="isAdmin" >
        <form class="form-horizontal form-material" 
        id="loginform" 
        (ngSubmit)="updateStore()"
        [formGroup]="storeFormUpdate"
        autocomplete="off">
            <h5>Update Store</h5>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="name"/>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Adress</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="address">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
    <!-- --------------------End Form Update------------------- -->
</div>