.container-forms-details{
    margin-top: 20px;
}

.container-forms-details form{
    width: 35vw;
}

.container-load{
    display: flex;
    width: 100vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.create-product{
    margin-top: 50px;
    margin-bottom: 100px;
}

.col-products{
    height: 65vh;
    
}


.row-sub-sales{
    height: 49vh;
    overflow-x: scroll;
}

.row-sub-sales2{
    height: 20vh;
    overflow-x: scroll;
}