<div class="row mt-5">
    <div class="col">
        <div class="col-4 mx-auto mt-5" >
            <form class="form-horizontal form-material" 
            id="loginform" 
            (ngSubmit)="login()"
            [formGroup]="loginForm"
            autocomplete="off">
                <h5>Login</h5>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="email" placeholder="name@example.com"/>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="password" formControlName="password">
            </div>
            <div class="mb-1">
                <a routerLink="/register">Create an account</a>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
