<div class="row">
    <div class="col" >
        <form class="form-horizontal form-material" 
        id="loginform" 
        (ngSubmit)="login()"
        [formGroup]="userForm"
        autocomplete="off">
            <h5>Update User</h5>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="name"/>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" formControlName="email">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
